<%= form_for([@employee, @nomination]) do |f| %>
  <% if @nomination.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nomination.errors.count, "error") %> prohibited this nomination from being saved:</h2>

      <ul>
      <% @nomination.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :reason %><br>
    <%= f.text_area :reason, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :nominator %><br>
    <%= f.text_field :nominator, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit 'Nominate', :class => 'btn btn-primary form-control' %>
  </div>
<% end %>
