%h1 Current activities

%table
  %tr
    %th Title
    %th Name
    %th Date
    %th
    %th
    %th

  - @activities.current.each do |activity|
    %tr
      %td= activity.title
      %td= activity.name
      %td= activity.date
      %td= link_to 'Show', activity
      %td= link_to 'Edit', edit_activity_path(activity)
      %td= link_to 'Destroy', activity, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Activity', new_activity_path
